:root {
    --bot-color: #ffcccb;
    --second-color: #faa4a2;
    --text-color: #ffffff;
    --clickable-color: #93f0f4;
    --clickable-color-clicked: #80d2d5;
    --brightness: 0.5;
    --border-color-icon: #ffebec;
}

html {
    font-size: 14px;
}
#mainNav{
    background-color: var(--bot-color) !important;
}

.masthead {
    background-color: var(--second-color);
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.masthead-avatar{
    width: 15rem !important;
    height: 15rem;
}

.masthead-subheading > .masthead-avatar {
    width: 1.5rem !important;
    height: 1.5rem;
    border: 3px solid var(--border-color-icon) !important;
}

.round-info-item{
    background-color: var(--second-color);
    font-weight: 900;
    font-size: large;
}
.round-info-item > div{
    padding: 2rem 0 2rem 0;
}


html {
    position: relative;
    min-height: 100%;
}

.navbar-nav .nav-link {
    color: var(--text-color);
    font-weight: 500;
}
    .navbar-nav .nav-link:hover {
        filter: brightness(var(--brightness));
    }

.navbar-brand {
    color: var(--text-color);
}
    .navbar-brand:hover {
        filter: brightness(var(--brightness));
    }


a {
    color: var(--clickable-color);
}
    a:hover {
        color: var(--clickable-color-clicked);
    }

body {
    margin-bottom: 60px;
    background-color: var(--second-color);
    color: var(--text-color);
}

.rounded-circle {
    border: thick solid var(--border-color-icon);
}